.contentBox {
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}

.contentBox .card {
    margin-right: 1%;
    margin-bottom: 10px;
    width: 19.2%;
}

.contentBox .card:nth-child(5n+5) {
    margin-right: 0;
}

.contentBox .card .card-title {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}